@font-face {
    font-family: "monserratRegular";
    src: url(https://fonts.cdnfonts.com/css/montserrat);
    font-family: "sProDisplay";
    src: url(https://fonts.cdnfonts.com/css/sf-pro-display);
}
.btn-success{
    background-color: #41E250;
}
.rectangle45 {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 810px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titlePassword {
    font-family: monserratRegular, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    position: relative;
    top: -100px;
}

.line14 {
    width: 798px;
    border: 1.5px solid #000000;
    margin-left: center;
    position: relative;
    top: -90px;
}

.description1 {
    color: #000000;
    position: relative;
    top: -80px;
    margin-left: 20px;

}

.iconSize2 {
    color: #41E250;
    position: relative;
    left: -20px;
}

/*CSS del formulario de nuestra constraseña*/
.formPassword {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-top: -40px;
}

.label {
    display: block;
    margin-bottom: 10px;
    color: black;
    margin-right: 220px;
    font-family: monserratRegular, sans-serif;
}

.label1 {
    display: block;
    margin-bottom: 10px;
    color: black;
    margin-right: 250px;
    font-family: monserratRegular, sans-serif;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2A313B;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.btnSave1 {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #2A313B;
    border-radius: 5px;
    position: relative;
    top: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.btnSave1:hover {
    transform: scale(1.10);
    background-color: #2A313B;
    color: white;
}

/*CSS para eyes*/


.input-container {
    position: relative;
}

.iconSize3 {
    position: absolute;
    top: 32%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000000;
}
.iconSize0{
    color: black;
    width: 30px;
    height: 30px;
    position: relative;
    top: -93px;
    right:355px;
}
.iconSize0:hover{
    transform: scale(1.10);
    color: #41E250;
}