/*Componentes CSS para vista: Transfer */
.transferConteiner{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    width: 100%;
    background-color: #F2F4F5;
    border-radius: 10px;
}

.stepTransfer{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.stepTransfer h2{
    color: #707070;
    margin: 0 20px;
}

.lineProgressBar{
    width: 70%;
    height: 10px;
    margin: 10px 10px;
    transition: all 0.5s ease-in-out;
}

.sidebar{
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Steps{
    margin: auto 20px;
    border-left: 5px solid black;
    padding-left: 10px;
}

.Steps.here{
    border-left: 5px solid #BF7026;
}

.name{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;   
}

.formTransfer{
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Componentes CSS para vista: selectTicket */
.selectTicket{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ticket{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 10px 0px;
    padding: 0 10px;
    border: solid 2px black;
    border-radius: 5px;
}

.dataTicket{
    font-size: 15px;
    font-weight: bold;
    color: #707070;
    margin: 10px 10px;
}

.ticket .lessBtn{
    width: 42px;
    height: 24px;
    background-color: #BF7026;
    color: white;
    font-weight: bold;
    border-radius: 0px;
    padding: 0;
    margin: auto 0;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.amount{
    width: 42px;
    height: 24px;
    background-color: #BF7026;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: auto 0;
}

.ticket .PlusBtn{
    width: 42px;
    height: 24px;
    background-color: #BF7026;
    color: white;
    font-weight: bold;
    border-radius: 0px;
    padding: 0;
    margin: auto 0;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttonsTickets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backBtn{
    display: flex;
    background-color: #707070;
    color: #ffffff;
    padding: 12px 80px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px 10px;
}
.backBtn:hover{
    transform: scale(1.10);
}

.ContinueBtn{
    display: flex;
    background-color: #BF7026;
    color: #ffffff;
    padding: 12px 80px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px 10px;
}
.ContinueBtn:hover{
    transform: scale(1.10);
}

/* Componentes CSS para vista: selectUser */
.selectUser{
    width: 98%;
    text-align: start;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 10px 0px;
    padding: 0 10px;
    border: solid 2px black;
    border-radius: 5px;
}

.selectUser label{
    font-size: 18px;
    font-weight: bold;
    color: #707070;
    margin: 10px 10px;
}

.selectUser input{
    width: 80%;
    height: 30px;
    background-color: #1c262f1f;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
    margin: 0 10px 50px;
    padding: 0 10px;
}
/* Componentes CSS para vista: ConfirmTrasnfer */
.confirmTransfer{
    width: 98%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 10px 0px;
    padding: 0 10px;
    border: solid 2px black;
    border-radius: 5px;
}

.confirmTransfer #userEmail{
    font-size: 18px;
    font-weight: bold;
    font-style: inherit;
}

.ticketConfirmed{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    padding: 0 10px;
}