.scantodiscover {
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: hidden;
    outline: none;
    width: 635px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* Agregar posicionamiento relativo */
    z-index: 1;
}

.scantodiscover hr {
    width: 100%;
    margin-top: 7px;
    border: none;
    border-top: 2px solid #ffffff;
}

#html5-qrcode-button-camera-start {
    background-color: #41e250;
}

#html5-qrcode-button-camera-stop {
    background-color: #e24141;
}

/*
    APARTADO RESPONSIVE PARA VISTA HOME
    TABLET: 768px x 564px
    MOBILE: 425px x 564px
*/

@media screen and (max-width: 768px){
    .scantodiscover{
        position: unset;
    }
    div#reader{
        position: unset;
    }
}